:root{
    --background-color: white;                
    --darker-background-color: #b1e2f0;
    --accent-color: #21CAFF;
    --text-color: black;
    --navbar-height: 80px;
}

*{
    margin: 0;                            
    padding: 0;
    font-size: 20px;    
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--text-color);
}

html{                               
    height: 100%;
}
body{                               
   height: 100%;
   margin:0;
  
}

nav{                                            
    height: var(--navbar-height);                   
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center
}
nav.logo{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}

#logos{
    position:relative;
    left:-45px;
    top:15px;
    font-size: 23px;
    width: 50%;
}

nav ul{                                                         
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 100%;
    width: 120px;
    text-align: center;
    position: relative;
}


nav ul a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a:hover{
    background: var(--accent-color);
    padding:none
}

.dropdown{
    height: min-content;
    width: 250px;
    background: var(--background-color);
    display: none;
    flex-direction: column;

    position:absolute;
    left: 0;
    top: var(--navbar-height);
}

nav li:hover {
    background: var(--accent-color);
    border-top: 6px solid black;
    border-left: 5px solid;
}

.dropdown a:hover{
    border-bottom: .5px solid;
    border-left: .5px solid;
    border-right: .5px solid;
    position: relative;
}



.dropdown li{
    height: 70px;
    width: 43%;
    
}
.dropdown li a{
    justify-content: flex-start;
    padding-left: 30px;
    width: calc(100% - 20px);
    border-bottom: .5px solid;
    border-left: .5px solid;
    border-right: .5px solid;
}
nav li input[type="checkbox"]:checked ~ .dropdown{
    display: block;
}
nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
nav li input[type="checkbox"]:checked ~ .dropdown{
    display: block;

}


nav input[type="checkbox"]{
    display: none;
}






@media screen and (max-width: 650px) {

    
    .toggle_button{
        display: flex;

    }
    #toggle_button:checked ~ ul{
        display: block;
        position: relative;

    }


 
    nav ul{
        height:min-content;
        margin-top: 300px;
        margin-right: 170px;
        margin-left: -80px;
        z-index: 100;
        transition:0.4s;
        background-color: var(--accent-color);
        width: 100%;
        display: none;
        position: static;
        text-align: center;
        top: var(--navbar-height);
        background: white;
    }
    nav li{
        height: min-content;
        min-width: 175%;
        margin-left: -80px;
        border-bottom: 2px solid black;
        text-align: center;
        z-index: 100;
        display: inline-block;
        position: relative;
        background: white;


    }

    nav li:hover{
        background-color: white;
        border-top: none;    
        width: 150%;

    }


/* unterstrich für start project machen
    #start:hover:after{
        width: 100%;
        position: absolute;
    } */



    #drop{
        margin-left: 2px;
        margin-right: 100px;
    }
    
    #exp{
        margin-top: 5px;
        width: 110%;
    }

    #exp:hover{
        border-top:none;
        border-left: none;
        border-bottom: 2px solid black;
    }

    #cont{
        border-bottom: 2px solid black;
        margin-left: 50px;
        width: 100%;
    }



    #drop{
        margin-top: 8px;
        border-bottom: none;
        height: 250px;
        position: absolute;
        transition: none;
        margin-left: -67px;
        background-color: antiquewhite;

    }





    #login{
        border-top: 8px solid black;
    }


    #contact{
        border-top: 0px solid black;

    }

    #login:hover{
        transition: .3s;
    }

    #cont:hover{
        background-color: white;
    }


    #drop {
        border-left: 5px;
        background-color: white;
    }

 
    /* .banner{
        margin-top:25px;
    }
    .banner-text{
        margin-top:200px;
    } */
    nav ul a{
        padding: 25px 0;
    }
    .expandable_li{
        display: block;
    }
    .expandable_li label{
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown{
        display: none;
        height: 138px;
        background-color: white;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown{
        display: block;

    }
    .dropdown{
        position: static;
        width: 100%;
    }
   
    .dropdown li{
        padding: 0;
        display: block;
        position: static;

        width: 100%;
    }

    .dropdown li a{
        width: 100%;
        padding: 0;
        justify-content: center;
    }

#toggle_button:checked ~ ul{
    display: block;
}
    }
    
.expandable_li{
    display:inline-block;
}

.navi{
    display:none;
}




#sec1{
    text-align: left;
    display: inline-block;
    padding:2px 2px;
    margin-left:50px;
    margin-right: 50px;
}

.card .card-description #des1{
    padding: 0 8px;
}

.card{
margin-top:75px;
}

#srv{
    font-size: 40px;
}

#sec2{
    text-align: left;
    display: inline-block;
    padding:2px 2px;
    margin-left:50px;
    margin-right: 50px;
}

#abt{
    font-size: 40px;
}

#sec3{
    text-align: left;
    display: inline-block;
    padding:2px 2px;
    margin-left:50px;
    margin-right: 50px;
}

#cnt{
    font-size: 40px;
}

.btn{
    text-align: center;
    margin-top: 30px;
    border-radius:35px;
    position: relative;
    top:30px;
    left:25px;
    width: 100px;
    bottom:30px;
    font-size:23px;
    padding:5px 5px 5px 5px;
    color: black;
    background-color: var(--accent-color);
    border: 1px solid black;
    text-align: left;
} 

.btn:hover{
    background-color: #17bbec;
    padding-right: 1px;
}

#hrf1{
    text-decoration: none;
    font-size:23px;
}

.container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.section-heading#two{        
    text-align: right;
    max-width: 900px;
} 

 #two{
    max-width: -10%;
}

.card{
    width: 70%;
    height:25%;
    max-width: 1050px;
}

.card .card-image img{
    width: 100%;
    max-width:750px;
}

.footer {
    background-color: #24252b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 100;
    position: relative;

}

.footer-col h4::before{
    content: '' ;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #51c0dc;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0
    .5s ease;
}

.footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;

}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {
    #toggle_button:checked ~ ul{
        display: block;
        position: relative;
        top:100px;
        width:800px;
        left:50px;
    }

}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    
    }
} 

@media screen and (min-width: 850px) {
.footer {
    background-color: #24252b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 100;
    position: relative;

}

.footer-col h4::before{
    content: '' ;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #51c0dc;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0
    .5s ease;
}

.footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;

}
} 
