:root{
    --background-color: white;                
    --darker-background-color: #b1e2f0;
    --accent-color: rgb(157, 200, 229);
    --text-color: rgb(0, 0, 0);
    --navbar-height: 80px;
}


body{
    border-top: 40px solid rgb(111, 193, 248);
    border-bottom: 60px solid rgb(111, 193, 248);
    height: 100%;
    width:100%;
    position: relative;
}

*{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}


html{                               
    height: 100%;
}

#logos{
    position:relative;
    left:83px;
    bottom:51px;
    font-size: 23px;
    width: 50%;
    font-family: sans-serif;
}

#pic{
display:none;
}

#pic img{
   display: none;
}

#login-form input[type="password"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}

.password-container{
    width: 300px;
    position: relative;
}

.fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: rgb(99, 19, 19);
}

.headertxt{
    margin-top: 0px;      /*Margins auf 0 setzen und Header zentrieren */
    font-size: 23px;
    margin-left: 0px;
    --text-color:black;
}

.hdrbeschr{
    font-size: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.wrapper {    
    display: flex;
    margin-left: 0px;
    align-items: center;
    list-style: none;
}

.inputbox1{
    margin-top:30px;
}

#ip1 input{
    padding:10px;
    background: transparent;
    border-radius:5px;
}

#ip1{
    width: 450px;
    height: 55px;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 17px;
}

#ip1:focus{
    outline: none;
    transition:.5s;
    border-bottom: 3px solid #21CAFF;;
}
#ip1:valid{
    padding:8px;
}

#ip1:focus::placeholder {
    font-size: 20px;
    transition: 1s;
}
.inputbox1{
    margin-bottom: 10px;
    justify-content: space-around;
}

#ip2{
    width: 450px;
    height: 55px;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 17px;

}

#ip2 input{
    padding:10px;
    background: transparent;
    border-radius:5px;
}
#ip2:focus{
    outline:none;
    transition:.5s;
    border-bottom: 3px solid #21CAFF;;
}
#ip2:valid{
    padding: 8px;
}
#ip2:focus::placeholder {
    font-size: 20px;
    transition: 1s;

}

#ip2:focus:valid {
    font-size: 25px;
}

.registerlink{
    margin-top: 50px;
}



.btn{
    margin-top: 30px;
    border-radius:35px;
    width: 83%;
    font-size:23px;
    padding:5px 5px 5px 5px;
    color: black;
    background-color: #21CAFF;
    border: none;
    outline: none;
}

.btn:hover{
    background-color: #17bbec;

}
.btn2{
    width: 83%;
    margin-top: 30px;
    margin-right:50px;
    border-radius:35px;
    padding:5px 5px 5px 5px;
    font-size:23px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-top: 1px  solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.btn2:hover{
    background-color: rgb(221, 218, 218);
}
@media only screen and (max-height: 800px) {
    body{
        border-bottom:none;  
    }
}
@media only screen and (min-width: 600px) {

.hdrbeschr{
        font-size: 15px;
        margin-left: 70px;
        margin-top: 25px;
    }
.headertxt{
    margin-top: 100px;      
    font-size: 23px;
    margin-left: 70px;
    --text-color:black;
}
#ip1{
    width: 550px;
    height: 55px;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 17px;
}

#ip2{
    width: 550px;
    height: 55px;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 17px;
}
.wrapper {    
    display: flex;
    margin-left: 70px;
    align-items: center;
    list-style: none;
}

.btn{
    width: 175px;
    margin-top: 30px;
    margin-left: 150px;
    border-radius:35px;
    font-size:23px;
    float:right;
    margin-right:10px;
}

.btn2{
    width: 175px;
    margin-left: -5px;
    margin-right:50px;
    border-radius:35px;
    font-size:23px;
    float:left;
    margin-right:1px;

}

#abbr{
    text-decoration: none;
}
.registerlink{
    margin-left: 75px;
}
#pic{
display:none;
}

#pic img{
  display:none;
}
@media only screen and (min-width: 900px) {

    #pic{
        display:inline-block
    }

    .btn{
        margin-top: 30px;
        margin-left: 175px;
        border-radius:35px;
        font-size:23px;
    }
    .btn2{
        margin-top: 30px;
        margin-left: 0px;
        margin-right:50px;
        border-radius:35px;
        font-size:23px;
    }
    .registerlink{
        margin-left: 75px;
    }


    
}

@media only screen and (min-width: 1200px) {

#pic{
    display:block;
    float:right;
    width:500px;
    height:300px;
    position:relative;
}

    #pic img{
    width:100%;
    display: inline-block;
    position: relative;
    bottom:190px;
    right: 35px;
}
}
@media only screen and (min-width: 1400px) {
    #pic{
        display:block;
        float:right;
        width:600px;
        height:200px;
        position:relative;
    }
    
        #pic img{
        width:100%;
        display: inline-block;
        position: relative;
        bottom:190px;
        height:700px;
        right: 45px;
    }
}

@media only screen and (min-width: 1700px) {

    #pic{
        margin-right:200px;

    }
    #pic img{ 
            width:100%;
            display: inline-block;
            position: relative;
            bottom:190px;
            height:700px;
            right: 45px;

}
